<div class="panel panel-info pi" >
    <div class="row panel-heading col-xs-12 col-md-8">
        <p class="col-md-10 h">ToDoApp</p>
        <button type="button" class="btn btn-info col-md-2 q  ">
            <span class="glyphicon glyphicon-plus" aria-hidden="true">Add</span>
        </button>
    </div>


    
<div class="row panel-body col-md-4">
    <div class ="col-md-12 ">
        <p class="b">ToDoHeader </p>
        <button type="button" class="btn btn-success k">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-danger k">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
    </div>
        <ul class="col-md-10 list-group d">
            
            <li class="list-group-item l row">
                <span class="col-md-10">Morbi leo risus gnhjngjhjnhjnh tjnhjkynhjn yjnhjnjn yhjnyjnhj yjnhny yjhnjgynh nyhjn ghnjg gnhjgnj ghnjjn gkhnjn gjnhjngy ynghjkgynh gynhjkgnh gjnhgkn gjnhgnjg gjknhkhgnj gjknnh ghjngkn ghnjgkn jhngknh gnhjgknj</span>
                <button type="button" class="btn btn-success col-md-1 kk">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-danger col-md-1 kk">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
            </li>
            
             <li class="list-group-item l row">
                <span class="col-md-10">Morbi leo risus gnhjngjhjnhjnh tjnhjkynhjn yjnhjnjn yhjnyjnhj yjnhny yjhnjgynh nyhjn ghnjg gnhjgnj ghnjjn gkhnjn gjnhjngy ynghjkgynh gynhjkgnh gjnhgkn gjnhgnjg gjknhkhgnj gjknnh ghjngkn ghnjgkn jhngknh gnhjgknj</span>
                <button type="button" class="btn btn-success col-md-1 kk">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-danger col-md-1 kk">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
            </li>
            
            <li class="list-group-item l row">
                <span class="col-md-10">Morbi leo risus gnhjngjhjnhjnh tjnhjkynhjn yjnhjnjn yhjnyjnhj yjnhny yjhnjgynh nyhjn ghnjg gnhjgnj ghnjjn gkhnjn gjnhjngy ynghjkgynh gynhjkgnh gjnhgkn gjnhgnjg gjknhkhgnj gjknnh ghjngkn ghnjgkn jhngknh gnhjgknj</span>
                <button type="button" class="btn btn-success col-md-1 kk">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-danger col-md-1 kk">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
            </li>
        </ul>
    </div>
</div>



    

