body {
    background-image: url(/css/k.jpg);
}

.col-xs-12 {
  border: 1px solid black;
  border-radius: 30px;
  width: 70%;
  margin-left: 15%;
  margin-top: 20px;
  
}

.col-md-4 {
  background-image: linear-gradient(to bottom,#d9edf7 0,#c4e3f3 100%);
  border: 1px solid #bce8f1;
  border-radius: 30px;
  width: 60%;
  margin-left: 20%;
  margin-top: 25px;
}

.h {
  font-size: 27px;
  font-family: WIDE LATIN;
  font-weight: 900;
  display: inline-block;
  text-align: center;
  
}

.btn.btn-info.col-md-2 {
    margin-top: 7px;
    margin-left: 50px;
    width: 80px;
}

.col-md-12 {
  display: inline-block;
  
  
}
.b {
   display: inline-block;
  font-family:  WIDE LATIN;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  width: 88%
}


.k {
  display: inline-block;
  margin-top: -20px;
  width: 40px;
  
}

.d{
 font-family: CALIBRI;
 width: 100%;
 padding-right: 0px;
 font-size: 18px;
 margin-left: 80px;
 
}
.pi {
 border: 0px;
}

.kk {
    display: none;
}
.l {
  display: inline-block;
  width: 85%;
  
}

li:hover .kk{
   display: inline-block;
}



